<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Siamo - HelpMeUp</title>
    <link rel="stylesheet" href="/css/chi_siamo.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>


<main>
    <section class="introduzione">
        <h1>Chi Siamo</h1>
        <p>HelpMeUp è una piattaforma che connette i volontari con le persone che necessitano di aiuto, rendendo il volontariato più accessibile e moderno. La nostra missione è facilitare il collegamento tra chi ha bisogno di supporto e chi è disposto a donare il proprio tempo per fare la differenza nella comunità.</p>
    </section>

    <div class="title-container">
        <h2 class="centered-title">Il Nostro Team</h2>
    </div>

    <section class="team">

        <div class="card">
            <div class="team-member">
                <h3>Angela De Martino</h3>
                <p>Project Manager</p>

            </div>
        </div>

        <div class="card">
            <div class="team-member">
                <h3>Annamaria Basile</h3>
                <p>Project Manager</p>

            </div>
        </div>
        <div class="card">
            <div class="team-member">
                <h3>Anna Atte</h3>
                <p>Team Member</p>

            </div>
        </div>
        <div class="card">
            <div class="team-member">
                <h3>Claudio Orlando</h3>
                <p>Team Member</p>

            </div>
        </div>
        <div class="card">
            <div class="team-member">
                <h3>Daniele Fimiani</h3>
                <p>Team Member</p>

            </div>
        </div>
        <div class="card">
            <div class="team-member">
                <h3>Domenico Vaiano</h3>
                <p>Team Member</p>

            </div>
        </div>
        <div class="card">
            <div class="team-member">
                <h3>Emilio Sanseverino</h3>
                <p>Team Member</p>

            </div>
        </div>
        <div class="card">
            <div class="team-member">
                <h3>Mariairene La Torre</h3>
                <p>Team Member</p>

            </div>
        </div>
        <div class="card">
            <div class="team-member">
                <h3>Roberto Giuseppe Scarpa</h3>
                <p>Team Member</p>

            </div>
        </div>

        <!-- Aggiungi altri membri del team qui -->
    </section>

    <section class="missione">
        <h2>La Nostra Missione</h2>
        <p>Vogliamo rendere il volontariato accessibile a tutti, ovunque. Con HelpMeUp, i volontari possono facilmente trovare persone in bisogno di aiuto nelle vicinanze e fare la differenza nelle loro comunità.</p>
    </section>

</main>
<div th:insert="fragments/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
