<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>accetta richiesta</title>
</head>
<body>
<h1>accetta richiesta</h1>
<form action="/accetta" method="POST">
    <label for="richiesta">Titolo:</label>
    <input type="text" id="richiesta" name="richiesta" required><br><br>

    <label for="volontario">volontario:</label><br>
    <textarea id="volontario" name="volontario" type="text" required></textarea><br><br>

    <input type="submit" value="accetta richiesta">
</form>
</body>
</html>