<!DOCTYPE html>
<html lang="it">
<head>
  <link rel="stylesheet" th:href="@{/css/pubblica_richiesta.css}">
  <meta charset="UTF-8">
  <title>Pubblicazione Richiesta</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div id="blocco_dati">
<h1>Pubblica una richiesta d'aiuto</h1>

<form th:action="@{/api/richieste/pubblica}" method="POST">

  <div th:if="${message}" class="feedback" th:classappend="${messageType}">
    <span th:text="${message}"></span>
  </div>

  <label for="titolo">Titolo:</label>

  <input type="text" id="titolo" name="titolo" required><br><br>

  <label for="descrizione">Descrizione:</label><br>
  <textarea id="descrizione" name="descrizione" rows="4" cols="50" required></textarea><br><br>

  <label for="data">Data:</label>
  <input type="date" id="data" name="data" required><br><br>

  <label for="ora">Ora:</label>
  <input type="time" id="ora" name="ora" required><br><br>

  <label for="emergenza">Emergenza:</label>
  <input type="checkbox" id="emergenza" name="emergenza" value="true">
  <label for="emergenza">Sì, è urgente</label><br><br>

  <input type="submit" value="Invia richiesta">
</form>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>