/* Stile generale */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f6c6ac;
    color: #333;
}

/* Stile per l'header */
header {
    display: flex;
    justify-content: space-between; /* Distribuisce spazio tra logo e menu */
    align-items: center; /* Allinea verticalmente il contenuto */
    background-color: #de6061;
    color: white;
    padding: 10px 20px; /* Margini interni per un aspetto migliore */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Stile per il titolo */
header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Alternanza colore sfondo */
body:nth-child(odd) {
    background-color: #fae2d6;
}

input:invalid {
    border: 2px solid red;
}

/* Stile per il contenitore del logo */
.logo img {
    height: 50px;
    margin-left: 20px;
}

/* Stile per il menu di navigazione */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #fae2d6;
}

.error-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-container h1 {
    font-size: 48px;
    color: #e74c3c;
}

.error-container p {
    font-size: 18px;
}

.error-container a {
    color: #3498db;
    text-decoration: none;
}

.error-container a:hover {
    text-decoration: underline;
}