<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Richieste Volontario</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/lista_richieste.css">
</head>

<body class="list">

<div class="request-container">
    <div class="intro" >
        <h1>Le Tue Richieste</h1>
        <i class="fa-regular fa-square-check" id="icon-img"></i>
    </div>

    <div class="search-bar">
        <h3>TROVA L' ATTIVITÀ</h3>
        <div class="search-input-container">
            <i class="fa-solid fa-magnifying-glass" id="search-icon"></i>
            <input type="text" placeholder="Cerca attività" id="searchInput">
        </div>
    </div>

    <div class="requests-list"></div>

</div>

<script src="../js/lista_richieste.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>


