<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>
</head>
<body>
<h2>Registrazione</h2>
<form action="/register-choice" method="post">
    <label for="volontario">Volontario</label>
    <input type="radio" id="volontario" name="role" value="volontario" required><br>

    <label for="assistito">Assistito</label>
    <input type="radio" id="assistito" name="role" value="assistito" required><br><br>

    <button type="submit">Vai alla registrazione</button>
</form>
</body>
</html>
